.hidden {
  position: absolute;
  background-color: rgb(251, 253, 255);
  top: 67px;
  left: 1000px;
  height: 100vh;
  width: 100vw;
}
.hidden li {
  margin: 2em 0 0 15px !important;
  cursor: pointer;
}
.burger {
  cursor: pointer;
}
.show {
  left: 0;
}
