header {
  padding: 10px 20px;
}
.logo span {
  font-size: 25px;
  font-weight: 600;
}
.logo img {
  width: 50px;
  margin-right: 6px;
}
ul img,
.nav-search-container img {
  width: 35px;
  filter: invert(27%) sepia(8%) saturate(898%) hue-rotate(167deg)
    brightness(96%) contrast(87%);
}

.nav-search-container {
  flex-grow: 1;

  border: 3px solid red;
}
.nav-search-container img {
  position: absolute;
  right: 400px;
  width: 25px;
  top: 8px;
}

.nav-search-container input {
  width: 55%;
  display: block;
  margin-left: auto;
  padding: 10px 0px 10px 50px;
  font-size: 20px;
}
.nav-search {
  position: relative;
}
ul {
  list-style: none;
}
ul li {
  margin: 0 5px;
  font-size: 20px;
}
