header {
  padding: 10px 20px;
}
.logo span {
  font-size: 25px;
  font-weight: 600;
}
.logo img {
  width: 50px;
  margin-right: 6px;
}
ul img,
.nav-search-container img {
  width: 35px;
  filter: invert(27%) sepia(8%) saturate(898%) hue-rotate(167deg)
    brightness(96%) contrast(87%);
}

.nav-search-container {
  flex-grow: 1;
}
.nav-search-container img {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  width: 25px;
}

.nav-search input {
  width: 100%;
  display: block;
  padding: 10px 0px 10px 50px;
  font-size: 20px;
  border: 2px solid #434d565d;
  border-radius: 5px;
}
.nav-search {
  position: relative;
  width: 55%;
  margin-left: auto;
}
ul {
  list-style: none;
}
ul li {
  margin: 0 8px;
  font-weight: 500;
  font-size: 20px;
}
ul li:nth-child(1) {
  margin-left: 37px;
}
/* HERO SECTION START */

.hero-section {
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1533109721025-d1ae7ee7c1e1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bXVsdGklMjBjb2xvcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  padding: 3em 0;
}

.over-lay-z-index {
  position: relative;
  z-index: 2;
}
.header-overlay {
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 12%,
    rgba(255, 255, 255, 0.26934523809523814) 96%
  );
  backdrop-filter: blur(0.5rem);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.create-btn {
  margin: 0 0 0 20px;
}

.hero-left-col h1 {
  font-size: 3em;
  color: #000;
}

.hero-left-col p {
  color: #000;
  font-size: 1.4em;
}

.hero-left-col span {
  display: block;
  color: var(--blue);
  margin-top: 2em;
  font-size: 1.2em;
}
.hero-left-col p {
  margin: 2em 0;
}

.column-div-wrapper {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.column-div img {
  width: 100%;
  height: 425px;
}

.div-icons-wrapper {
  padding: 10px;
}
.column-div-icons span {
  display: block;
}
.column-div-icons img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.col-div-spans {
  margin-left: 10px;
}
.col-div-spans span:nth-child(1) {
  color: var(--grey);
}
.col-div-spans span:nth-child(2) {
  color: var(--blue);
}
.info-icon {
  width: 30px;
  height: 30px;
}

.collection-header-text p {
  font-size: 1.6em;
  font-weight: 600;
}
.top-collection-span {
  color: var(--blue);
}

.col-3-column {
  border-bottom: 2px solid rgba(0, 0, 0, 0.061);
  margin-bottom: 1em;
  border: 3px solid #fff;
  padding: 1em;
  border-radius: 3px;
}
.col-3-column:hover {
  box-shadow: 10px 6px 15px 0 rgba(0, 0, 0, 0.2);
}
.col-3-column span {
  font-weight: 500;
  font-size: 15px;
  display: block;
}
.collections-text {
  flex: 1;
}
.col-3-column img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin: 0px 8px;
  border: 1px solid var(--grey);
}
.collections-text span:nth-child(2) {
  color: var(--grey);
  display: block;
}
.collections-price {
  margin-left: auto;
}
.collections-price span {
  color: var(--green);
  display: block;
}
.col-4-image img {
  width: 150px;
  height: 50px;
}
.sell-nft-span {
  display: block;
  color: rgb(0, 0, 0);
  font-weight: 600;
  margin: 1em;
}
.sell-nft-span-blue {
  color: var(--blue);
}
.col-4-column p {
  color: var(--grey);
  font-weight: 600;
}
.col-3-trending-col {
  box-shadow: 10px 6px 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}
.col-3-trending-img img {
  display: block;
  width: 100%;
  position: relative;
}
.col-3-second-img {
  border-radius: 100%;
  width: 60px !important;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.col-3-trending-text {
  padding: 1.2em 3em;
}
.col-3-trending-text p {
  margin-top: 2em;
  color: var(--grey);
}

.span-grey {
  color: var(--grey);
}
.span-blue {
  color: var(--blue);
  font-weight: 600;
  cursor: pointer;
}
