.nav-top-top {
  color: #fff;
  padding: 15px 0;
}
.nav-top-top img,
nav svg,
.nav-btns img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(15deg) brightness(120%)
    contrast(101%);
  margin-left: 5px;
  cursor: pointer;
}
nav {
  background-color: var(--navy-blue);
  padding: 25px;
  justify-content: space-around;
}
nav ul {
  list-style: none;
}
nav ul li {
  color: var(--grey);
  font-weight: 700;
  margin: 0 15px !important;
  padding: 8px;
  cursor: pointer;
}
nav ul li:hover {
  transition: 0.4s ease-in;
  background-color: rgba(255, 255, 255, 0.24);
  transform: scale(1.1);
}
.nav-btns button {
  padding: 8px 12px;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
}
.nav-btns button:hover,
.hero-btns button:hover:nth-child(1),
.hero-btns button:hover:nth-child(2) {
  transition: 0.4s ease-in;
  transform: scale(1.1);
  opacity: 0.9;
}
.login {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  margin: 0 1em;
}
.hero {
  background-image: url("https://www.blockchain.com/static/img/home/home-hero-gradient.svg");
}
.hero-content {
  color: #fff;
  padding: 10em;
  max-width: 70%;
}
.hero-content h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.625rem;
  margin-bottom: 1em;
}
.hero-content p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.125rem;
  margin-bottom: 2em;
}
.hero-btns button {
  padding: 10px 35px !important;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}
.hero-btns button:nth-child(1) {
  background-color: var(--blue);
  margin-right: 10px;
  color: #fff;
  letter-spacing: 1px;
}
.hero-btns button:nth-child(2) {
  letter-spacing: 1px;
}
.col-4-parent {
  transform: translateY(-50%);
}
.col-4-parent div:nth-child(4) {
  position: relative;
}
.col-4-parent div:nth-child(4):after {
  display: block;
  color: var(--grey);
  font-weight: 700;
  position: absolute;
  bottom: -30px;
  right: 20px;
  content: "View more prices";
  font-size: 20px;
}
.col-4-parent div:nth-child(4)::before {
  display: block;
  color: var(--grey);
  font-weight: 700;
  position: absolute;
  bottom: -35px;
  right: 0px;
  font-size: 34px;
  content: "\203A";
}
.hero-card-column {
  padding: 15px;
  border: 3px solid rgba(46, 135, 204, 0.733);
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
}

.hero-card-imgs img {
  width: 35px;
}
.hero-card-imgs img:nth-child(2) {
  margin: 0 10px;
}
.hero-card-middle-text {
  margin: 18px 0;
}
.hero-card-middle-text span {
  font-weight: 700;
}
.hero-card-middle-text span:nth-child(2) {
  color: var(--grey);
}
.hero-card-prices span:nth-child(2) {
  color: red;
}
.hero-card-prices span:nth-child(1) {
  margin-right: 10px;
}

/* WALLET START */
.wallet-global {
  border-radius: 1.25rem;
  background-color: #f7f5fe;
  background-image: url("https://www.blockchain.com/static/img/home/home-wallet-shapes-bg.png");
  background-repeat: no-repeat;
  background-size: 500px;
  padding: 3em 0;
  margin-top: 3em;
  margin-bottom: 3em;
}
.wallet-right {
  background-position: right bottom 2.5rem;
}

.custom {
  padding: 0 2em;
}
.wallet-column img {
  display: block;
  position: relative;
  bottom: 45px;
  left: 67px;
}
.wallet-left .wallet-col-text {
  border: 1px solid rgb(12, 108, 242);
  color: var(--blue);
}
.wallet-right {
  color: var(--purple);
}
.wallet-left {
  color: var(--blue);
}
.wallet-right .wallet-col-text {
  border: 1px solid rgba(115, 73, 242, 0.349);
}

.wallet-col-text {
  border-radius: 10px;
  padding: 1em 1.5em 1em 1em;
  margin: 1em 0;
}
.wallet-col-text-h2 {
  margin-bottom: 1.5em;
  font-size: 2.5em;
}
.wallet-col-text span {
  display: block;
}
.get-started {
  background-image: url("https://www.blockchain.com/static/img/banner/banner-bg.svg");
  background-color: var(--navy-blue);
  padding: 3em;
}
.get-started span {
  color: rgb(255, 255, 255);
  font-size: 24px;
  display: block;
}
.get-started button {
  color: var(--blue);
  font-size: 18px;
  border: none;
  padding: 8px 18px;
  border-radius: 10px;
  margin-left: 10px;
}
footer {
  color: rgba(97, 94, 94, 0.863);
  padding: 5em 0;
}

.f-col img {
  border-radius: 100%;
}

.f-col span {
  font-size: 20px;
}
.f-col-socials {
  margin-top: 2em;
}
.f-col-socials span {
  margin-left: 1em;
}
.f-col-socials a {
  color: #000;
  text-decoration: none;
}
footer ul {
  list-style: none;
}
footer ul li {
  margin: 6px 0;
}
