.hiddenSearch {
  width: 0%;
  height: 100%;
  /* 0 width - change this with JavaScript */
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--darkPink); /* Black*/
  /* overflow-x: hidden;  */
  /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  /* transition: 0.5s; */
}

.inputContainer img {
  position: relative;
  right: 50px;
  width: 30px;
  top: 7px;
  filter: invert(99%) sepia(0%) saturate(21%) hue-rotate(12deg) brightness(105%)
    contrast(100%);
}
.input-search {
  margin: 0 auto;
  padding: 5em;
}
.hiddenSearch input {
  padding: 10px;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 25px;
  transition: 0.3s;
  background-color: transparent;
}
::placeholder {
  text-align: left;
  color: #fff;
}

.hiddenSearch .closeSearch {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
