.top-top {
  background-color: #fff;
}
.top-top p {
  color: var(--darkPink);
  font-weight: bold;
}
.logo {
  position: absolute;
  left: 25px;
  top: 0px;
  font-size: 2em;
}

nav {
  background-color: var(--darkPink);
  padding: 1em 6em;
  position: relative;
}
ul {
  padding: 1.1em 0;
}
ul li {
  margin: 0 10px;
}
ul li a::after {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 2px;
  width: 0%;
  bottom: -10px;
  left: 0;
  transition: 0.3s ease-in;
}
ul li a:hover:after {
  width: 100%;
}

/* HIDDEN NAV 1 */
.nav-hidden-1 {
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 86px;
  left: 0;
  height: 300px;
  background-color: var(--darkPink);
  display: none;
}
/* HIDDEN NAV 1 */
.cart-icons img {
  width: 30px;
  height: 30px;
  filter: invert(100%) sepia(100%) saturate(8%) hue-rotate(137deg)
    brightness(100%) contrast(105%);
}
.hidden-links-wrapper ul li {
  font-size: 1.2em;
  margin-bottom: 9px;
  opacity: 0.7;
}
.cart-icons button {
  background-color: transparent;
}

/* CART CLICK */
.cart-slider-container {
  border: 1px solid red;
  background-color: var(--darkPink);
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100vh;
  right: 0;
  color: #000;
}
.cart-slider span {
  margin-top: 3em;
  font-size: 1.1em;
  padding: 1em;
  display: block;
}
.close-cart-slider {
  position: relative;
  top: -30px;
  right: 0px;
}
/* CART CLICK */
.hero {
  height: 500px;
  background-image: url(./imgs/hero.jpg);
  position: relative;
}

.rewards {
  position: absolute;
  font-size: 1.2em;
  top: 50%;
  right: -102px;
  transform: rotate(-90deg);
  background-color: #000 !important;
  color: #a79787 !important;
  border: none;
  padding: 9px 20px;
}
.rewards-text button {
  font-size: 1.2em;
  background-color: #000 !important;
  padding: 9px 20px;
  color: #fff !important;
}
.hero-text {
  margin: 0 0 4em 4em;
}
.rewards-text span {
  margin-top: 1em;
}
.hero-text h1 {
  font-size: 4em;
  text-shadow: 2px 2px #292828;
}
.hero button {
  cursor: pointer;
  background-color: #fff;
  color: rgba(32, 32, 32, 0.575);
  padding: 8px 3em;
}
.below-hero {
  background-color: #fdf9f5;
  padding: 3em 1.5em;
}
.below-hero p {
  font-size: 1.4em;
  color: rgba(0, 0, 0, 0.575);
}
.four-col-grid {
  background-color: var(--darkPink);
  padding: 6em 0;
}
.card-img {
  position: relative;
  padding-bottom: 400px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-img img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  transition: 1s ease-in-out;
}
.card-img img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.card-header-text h3 {
  font-size: 2em;
}
.close-modal {
  position: absolute;
  font-size: 2em;
  top: 0px;
  right: 15px;
  cursor: pointer;
}
.rewards-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: none;

  background-image: url("https://images.unsplash.com/photo-1547754980-3df97fed72a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 500px;
  height: 500px;
}
.rewards-text {
  position: relative;
  height: 500px;
}
.rewards-text span {
  display: block;
}

.card-header-text span {
  display: block;
  font-size: 1.4em;
}
.card-text h3 {
  font-weight: bold;
}
.card-text,
.card-buttons,
.footer-container {
  margin-top: 1em;
}
.card-text span:nth-child(2) {
  margin: 8px;
}
.card-text span {
  display: block;
}
.card-buttons button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px;
  cursor: pointer;
}

.card-buttons button:nth-child(2) {
  margin: 0 5px;
}

.slide-buttons button {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 100%;
  background-color: var(--darkPink);
  font-size: 2em;
  width: 50px;
  height: 50px;
}
.slide-buttons {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}
.grid-container {
  position: relative;
}
.margin-5em-0 {
  margin: 5em 0;
}
.marle {
  background-image: url(./imgs/marle.jpg);
  height: 400px;
  background-position: center;
}
.marle span {
  font-size: 3em;
}

.home-grown-text h1 {
  font-size: 2.1em;
}
.home-grown-text p {
  width: 75%;
  margin: 1em 0;
  color: #bbb7b2;
  font-size: 1.1em;
}
.home-grown-text button {
  background-color: #333029;
  cursor: pointer;
  padding: 9px 20px;
  width: 30%;
  font-size: 1em;
}
.brand-logo-col {
  opacity: 0;
}
.new-arrivals img {
  height: 450px;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
.selfie-head-text {
  margin: 2em 0;
}
.selfie-head-text span {
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
}
.selfie-container img {
  height: 350px;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
.selfie {
  background-color: var(--darkPink);
}
.selfie span {
  color: #fdf9f5;
  display: block;
  font-size: 3em;
  margin: 1em 0;
  font-family: Poppins;
}
footer {
  background-color: var(--darkPink);
}
.footer-container {
  height: 100%;
}
.footer-container span:nth-child(1) {
  font-size: 2em;
  font-weight: bold;
  margin-top: 2em;
}

.copyright,
.footer-container input {
  margin-bottom: 2em;
}
.footer-container input {
  border: none;
  width: 300px;
  background-color: transparent;
  font-size: 1.3em;
  position: relative;
}

::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}
.footer-container p {
  width: 50%;
  margin: 2em;
}
