.header {
  padding: 25px 35px;
}
.nav-logo span {
  font-size: 22px;
}
.ul {
  list-style: none;
}
.ul a {
  text-decoration: none;
  color: rgba(66, 66, 66, 0.835);
  transition: 0.8s;
}
.ul a:hover {
  color: #000;
}
.ul li {
  margin: 0 10px;
  font-weight: 600;
}
.nav-btn button {
  background-color: var(--orange);
  color: #fff;
  border: none;
  padding: 14px 38px;
  border-radius: 5px;
  transition: 0.6s;
  cursor: pointer;
}
.nav-btn button:hover {
  transform: scale(1.1);
}
.hero-column {
  border: 1px solid rgba(180, 179, 179, 0.329);
  border-radius: 5px;
  padding: 4em 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.hero-column span {
  display: block;
  color: var(--blue);
  font-weight: 700;
  font-size: 18px;
}
.hero-column h1 {
  font-size: 4em;
  margin: 14px 0;
}
.hero-column p {
  font-weight: 600;
  color: rgba(66, 66, 66, 0.835);
  font-size: 1.3em;
  padding: 0 13px 0 0;
}
