.section-collectible {
  background-color: rgb(11, 20, 38);
}
.card {
  width: 350px;
  margin: auto;
  border: 1px solid rgba(255, 255, 255, 0.164);
  overflow: hidden;
  font-family: Roboto;
  border-radius: 10px;
  position: relative;
}
.total-sale {
  position: absolute;
  top: 3%;
  left: 5%;
  color: white;
  background-color: var(--light-blue);
  border-radius: 10px;
  padding: 5px 25px;
  cursor: pointer;
}
.total-sale:hover {
  opacity: 0.9;
}
.total-sale-img {
  width: 20px;
  filter: invert(85%) sepia(100%) saturate(0%) hue-rotate(36deg)
    brightness(105%) contrast(103%);
  margin-right: 6px;
}
.card-play-button {
  position: absolute;
  bottom: 44%;
  right: 3%;
  width: 50px;
  filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(205deg) brightness(106%)
    contrast(100%);
  cursor: pointer;
}
.card-play-button:hover {
  filter: invert(47%) sepia(82%) saturate(1325%) hue-rotate(185deg)
    brightness(101%) contrast(94%);
  transition: 0.4s ease-in-out;
}

.card-header-image img {
  display: block;
  object-position: -45px;
}
.card-body {
  padding: 5px 20px;
  background-color: #fff;
}

.card-title {
  font-size: 20px;
  margin: 20px 0px;
}

.card-text,
.card-body p {
  font-size: 20px;
  line-height: 1.4;
}
.card-body p {
  margin-bottom: 1em;
  font-weight: 800;
}
.card-auction {
  margin-top: 5px;
}
.card-auction-col span:nth-child(1) {
  color: rgb(162, 158, 158);
}
.card-auction-col span:nth-child(2) {
  font-weight: bolder;
}
.card-text h5:nth-child(2) {
  color: var(--light-blue);
  font-weight: bold;
}
.card-auction div:nth-child(2) {
  margin-left: 1em;
  border-left: 2px solid black;
  padding-left: 1em;
}

.card-auction-col span {
  display: block;
}
.card-icons {
  margin-top: 3em;
}
.card-icons .card-img img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
.card-icons .card-img img,
.card-icons .card-heart-container img {
  margin-right: 1em;
}
.card-icons .card-heart-container img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.show {
  border-radius: 0;
}

.heart-red {
  filter: invert(37%) sepia(23%) saturate(6792%) hue-rotate(341deg)
    brightness(94%) contrast(98%);
}
