@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(11, 20, 38);
}
:root {
  --bg-color: rgb(11, 20, 38);
  --light-blue: rgb(54, 159, 247);
}
.mt-3m {
  margin-top: 3em;
}
.global-width {
  width: 96%;
  max-width: 1180px;
  margin: 0 auto;
}
.grid {
  display: grid;
}
.col-3 {
  grid-template-columns: repeat(3, 32%);
  gap: 3em 0;
}
.col-6 {
  grid-template-columns: repeat(6, 16%);
}
.flex {
  display: flex;
}
.justify-centre {
  justify-content: center;
}
.text-center {
  text-align: center;
}

.align-items-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.btn-global {
  background: var(--light-blue);
  background: linear-gradient(
    to bottom right,
    var(--light-blue),
    rgba(255, 255, 255, 0.637)
  );
  color: white;
  font-weight: 600;
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  letter-spacing: 0.6px;
}
.btn-global:hover {
  opacity: 0.9;
}
