* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --bg-color: rgb(11, 20, 38);
  --light-blue: rgb(54, 159, 247);
}
.global-width {
  width: 95%;
  max-width: 1180px;
  margin: 0 auto;
}
.col-3 {
  grid-template-columns: repeat(3, 32%);
  gap: 1em;
}
.flex {
  display: flex;
}
.justify-centre {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
