@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
:root {
  --bg-color: rgb(11, 20, 38);
  --light-blue: rgb(54, 159, 247);
}
.global-width {
  width: 95%;
  max-width: 1180px;
  margin: 0 auto;
}
.col-3 {
  grid-template-columns: repeat(3, 32%);
  gap: 1em;
}
.flex {
  display: flex;
}
.justify-centre {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.btn-global {
  background: var(--light-blue);
  background: linear-gradient(
    to bottom right,
    var(--light-blue),
    rgba(255, 255, 255, 0.637)
  );
  color: white;
  font-weight: 600;
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  text-shadow: 1px 1px #000000b0;
  font-size: 18px;
}
