@media (max-width: 1180px) {
  .col-3 {
    grid-template-columns: repeat(2, 47%);
    gap: 3em 0;
  }
}
@media only screen and (max-width: 768px) {
  .col-3 {
    grid-template-columns: repeat(1, 96%);
    gap: 3em 0;
  }
  .col-6 {
    grid-template-columns: repeat(3, 32%);
  }
  .header-ul,
  .nav-button,
  .signup {
    display: none;
  }
  .drop-container-p {
    width: 100%;
  }
  .dots-circles {
    bottom: 0px;
  }
  .mySlides {
    height: 500px;
  }
  .mySlides img {
    height: 500px;
    object-fit: cover;
  }
  .header-ul,
  .nav-button,
  .signup {
    display: none;
  }
  .drop-container-p {
    width: 100%;
  }
  .collectible-header-btns div:nth-child(1) {
    display: none;
  }

  .text h2 {
    font-size: 1.3em;
  }
  .text span {
    font-size: 1.4em;
  }
  .drop-container-text {
    width: 80%;
  }
  .dot {
    width: 49px;
    margin: 0 2px 8px 0;
  }
  .collectible-header-btns {
    justify-content: center;
  }
  .nav-search {
    display: none;
  }
}

@media only screen and (max-width: 489px) {
  .col-3 {
    grid-template-columns: repeat(1, 96%);
    gap: 3em 0;
  }
  .col-6 {
    grid-template-columns: repeat(2, 46%);
  }

  .drop-container-text h2,
  .collectible-header-text h2 {
    font-size: 1.5em;
  }
}
/* HIDDEN ABOVE 768PX */
@media (min-width: 768px) {
  .burger-icon {
    display: none;
  }
  .hidden {
    display: none;
  }
}
