@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.m-t {
  margin-top: 3em;
}
.p-t {
  padding-top: 5em;
}
.m-b-5 {
  margin-bottom: 7em;
}
:root {
  --pink: #9e20b1;
  --hero-gradient-white: #ffffff;
  --hero-gradient-pink: #9e20b1a8;
}
body {
  font-family: "Montserrat", sans-serif;
}
.flex {
  display: flex;
}
.white-text {
  color: #fff;
}
.flex-column {
  flex-direction: column;
}
.j-c-c {
  justify-content: center;
}

.a-i-c {
  align-items: center;
}
.j-c-s-b {
  justify-content: space-between;
}
.t-a-c {
  text-align: center;
}

.global-width {
  width: 96%;
  max-width: 1180px;
  margin: 0 auto;
}
.m-b {
  margin-bottom: 3em;
}
.grid {
  display: grid;
}
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.col-4 {
  grid-template-columns: repeat(4, 24%);
}
.col-5 {
  grid-template-columns: repeat(5, 18%);
}
.col-6 {
  grid-template-columns: repeat(6, 16%);
}
.col-7-custom {
  grid-template-columns: repeat(7, 14%);
}

.space-between {
  justify-content: space-between;
}
