@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
body {
  min-height: 100vh;
  background-image: linear-gradient(
    63deg,
    rgba(25, 27, 31, 1) 0%,
    rgba(78, 78, 78, 1) 49%,
    rgba(25, 27, 31, 1) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
}
.image-invert-white {
  filter: invert(100%) sepia(36%) saturate(2%) hue-rotate(169deg)
    brightness(103%) contrast(100%);
}
:root {
  --red: rgb(209, 48, 43);
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.j-c-c {
  justify-content: center;
}
.a-i-c {
  align-items: center;
}
.j-c-s-b {
  justify-content: space-between;
}
.t-a-c {
  text-align: center;
}
body {
  font-family: "Montserrat", sans-serif;
}
.global-width {
  width: 98%;
  max-width: 1180px;
  margin: 0 auto;
}
.grid {
  display: grid;
}
.col-2 {
  grid-template-columns: repeat(2, 48%);
}
.col-4 {
  grid-template-columns: repeat(4, 23%);
}
.col-2-custom {
  grid-template-columns: 40% 55%;
  align-items: center;
}
.hero-right {
  text-align: center;
}
.col-4 {
  grid-template-columns: repeat(4, 24%);
}
.txt-white {
  color: #fff;
}
.interface {
  grid-template-columns: 23% 46% 23%;
}
