.header-logo {
  margin-bottom: 3em;
}
.header-logo img {
  width: 50px;
}
.header-logo span {
  margin-left: 8px;
  font-size: 20px;
  color: rgb(231, 94, 197);
  font-weight: 800;
  letter-spacing: 1px;
}
.m-s-nav {
  padding-top: 1em;
}
ul {
  list-style: none;
}
.ul ul a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.ul ul a:hover {
  filter: invert(11%) sepia(87%) saturate(5863%) hue-rotate(6deg)
    brightness(128%) contrast(126%);
}
.ul {
  margin-bottom: 2em;
}
.ul h3 {
  color: rgb(204, 204, 204);
  margin-bottom: 1.2em;
}
ul span {
  color: grey;
  font-weight: 700;
}
.ul img {
  width: 25px;
  filter: invert(100%) sepia(36%) saturate(2%) hue-rotate(169deg)
    brightness(103%) contrast(100%);
}
.ul img:hover {
  filter: invert(11%) sepia(87%) saturate(5863%) hue-rotate(6deg)
    brightness(128%) contrast(126%);
}
.ul ul li {
  margin-bottom: 15px;
}
.ul ul span {
  margin-left: 10px;
  bottom: 7px;
}
.middle-column {
  padding-top: 17px;
  border-left: 2px solid rgba(128, 128, 128, 0.726);
  border-right: 2px solid rgba(128, 128, 128, 0.726);
  padding: 0 10px;
}
.middle-column ul li,
.middle-column div:nth-child(1) {
  margin: 0 !important;
}
.hero {
  margin-top: 4em;
}
.hero-card {
  height: 350px;
  background-position: bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  transition: 0.3s;
}
.hero-card:hover {
  box-shadow: 0 8px 16px 0 rgba(141, 141, 141, 0.2);
}
.hero-card h2 {
  font-weight: 800;
  font-size: 2.3em;
}
.hero-card-lower-txt {
  position: absolute;
  bottom: 0;
}
.hero-card-lower-txt p {
  padding: 0 10px;
}
.hero-card-lower-txt span {
  display: block;
  margin: 1.5em 0 10px 0;
}
.hero-card-lower-btns {
  margin-left: 3px;
  padding: 8px;
}

.hero-card-lower-btns button,
.slide-forward,
.slide-back {
  color: white;
  background-color: var(--red);
  padding: 8px 16px;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}
.hero-card-lower-btns button:hover {
  opacity: 0.9;
}
.hero-card-lower-btns button:nth-last-child(1) {
  margin-left: 3px;
}

.slide-back {
  display: none;
}
